<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.sii.rental.ui.customerSelected">
         <instanceof
               value="com.opcoach.training.rental.Customer">
         </instanceof>
      </definition>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            name="Colors"
            class="com.sii.rental.ui.prefs.RentalColorPage"
            id="com.sii.rental.ui.pageColor">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sii.rental.ui.prefs.RentalPrefsInitializer">
      </initializer>
   </extension>
   <extension
         id="com.sii.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
